/* Body styling to center menu */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Header styling for the login button */
header {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Login button styling */
.login-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    background-color: #fff;
    color: #333;
}

/* Section styling to centralize content */
.section {
    text-align: center;
}

/* Menu and login buttons */
button {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #fff;
    color: #333;
}

/* Input fields for login form */
input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #444;
    color: #fff;
}


/* For Game pages */

.sceneBackground {
    height: 100%;
    width: 100%;
    background-color: #b8a00070;

    display: flex;
    flex-flow: column;
}

.sceneCast {
    position: absolute;
    top: calc(10px + 12%);
    width: 100%;
    bottom: 0;
    object-fit: fill;
}

.characterPortrait {
    height: 100%;
    max-width: 30%;
    object-fit: fill;

    position: relative;
    left: 0;

    background-image: url("/media/characters/test-character.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.dialogueBox {
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #585870b8;
}

.dialogueMenu {
    position: relative;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    background-color: #8888a088;
}

.dialogueMenu button {
    display: block;
    width: 150px;
    padding: 0;
    margin: 0 auto;
    font-size: 100%;
    color: #fff;
    background-color: #333;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


/* For Scott background options */
.red {background-color: red}
.orange {background-color: orange}
.yellow {background-color: yellow}
.green {background-color: green}
.blue {background-color: blue}
.violet {background-color: violet}
.brown {background-color: brown}
.black {background-color: black}
.white {background-color: white}
